In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [6]:
water_df=pd.read_csv('..\data\waterfountains_hydrationsystems.csv')
print(water_df)
water_df.head()

                                         the_geom  OBJECTID        LAT  \
0    POINT (-86.89425345576078 36.26250455840148)     45921 -86.894253
1    POINT (-86.90622747033689 36.06089914863129)     45937 -86.906227
2    POINT (-86.86727565917963 36.08310102493863)     45964 -86.867276
3    POINT (-86.8637899391243 36.161795831166906)     45992 -86.863790
4   POINT (-86.84589094125035 36.151393836128406)     46012 -86.845891
..                                            ...       ...        ...
68  POINT (-86.94508440808808 36.058992725162675)         0 -86.945084
69   POINT (-86.91617133563244 36.05133033361339)         0 -86.916171
70   POINT (-86.77223046556308 36.16412160534988)         0 -86.772230
71     POINT (-86.7712099827693 36.1601422664622)         0 -86.771210
72  POINT (-86.62095101367906 36.158685253692965)         0 -86.620951

                                                 NAME        LON  \
0                               Beaman Water Fountain  36.262505
1                  Edwin Nature Center Water Fountain  36.060899
2       Percy Warner Belle Meade Gates Water Fountain  36.083101
3                            West Park Water Fountain  36.161796
4                        Richland Park Water Fountain  36.151394
..                                                ...        ...
68                             Harpeth River Greenway  36.058993
69                             Harpeth River Greenway  36.051330
70                                      River Landing  36.164122
71                  Ascend Amphiteater Water Fountain  36.160142
72  Stones River - Percy Priest Dog Park Water Fou... -86.620951

                              Location Dog                    FeatType  Cnt  \
0                                  NaN   Y  Fountain/Bottle filler/ADA    1
1                  Restrooms Breezeway   N           Bottle Filler/ADA    1
2                    Belle Meade Gates   Y                    ADA Bowl    1
3                            Ballfield   N      Single with foot pedal    1
4                           Playground   N      Single with foot pedal    1
..                                 ...  ..                         ...  ...
68  Morton Mill Rd at Old Harding Pike   Y  Standard/ADA/Bottle Filler    1
69             Butler Field Trail Head   Y  Standard/ADA/Bottle Filler    1
70    Greenway @ Victory & Titans Ways   N                Standard/ADA    1
71                            Building   N  Standard/ADA/Bottle Filler    1
72                            Dog Park   Y  Standard/ADA/Bottle Filler    1

   ADA
0    Y
1    Y
2    Y
3    N
4    N
..  ..
68   N
69   N
70   Y
71   N
72   N

[73 rows x 10 columns]

,the_geom,OBJECTID,LAT,NAME,LON,Location,Dog,FeatType,Cnt,ADA
0,POINT (-86.89425345576078 36.26250455840148),45921,-86.894253,Beaman Water Fountain,36.262505,NaN,Y,Fountain/Bottle filler/ADA,1,Y
1,POINT (-86.90622747033689 36.06089914863129),45937,-86.906227,Edwin Nature Center Water Fountain,36.060899,Restrooms Breezeway,N,Bottle Filler/ADA,1,Y
2,POINT (-86.86727565917963 36.08310102493863),45964,-86.867276,Percy Warner Belle Meade Gates Water Fountain,36.083101,Belle Meade Gates,Y,ADA Bowl,1,Y
3,POINT (-86.8637899391243 36.161795831166906),45992,-86.863790,West Park Water Fountain,36.161796,Ballfield,N,Single with foot pedal,1,N
4,POINT (-86.84589094125035 36.151393836128406),46012,-86.845891,Richland Park Water Fountain,36.151394,Playground,N,Single with foot pedal,1,N

In [9]:
police_df=pd.read_csv('..\data\policprecincts.csv')
print(police_df)
police_df.head()

                                            the_geom       PRECINCT  \
0  MULTIPOLYGON (((-86.77524596288148 36.14894455...        CENTRAL
1  MULTIPOLYGON (((-86.7497744006488 36.240574158...           EAST
2  MULTIPOLYGON (((-86.61306027277456 36.24427176...      HERMITAGE
3  MULTIPOLYGON (((-86.7495460621699 36.240468002...        MADISON
4  MULTIPOLYGON (((-86.77934500767239 36.14854906...  MIDTOWN-HILLS
5  MULTIPOLYGON (((-86.90741779005033 36.39052525...          NORTH
6  MULTIPOLYGON (((-86.6367642123719 36.072480560...          SOUTH
7  MULTIPOLYGON (((-86.90759083063186 36.13557121...           WEST

     SHAPE_AREA      SHAPE_LEN
0  9.854197e+07   46234.671731
1  5.622602e+08   90261.133897
2  2.496337e+09  521944.947628
3  1.913403e+09  254564.864090
4  1.317031e+09  187104.273068
5  3.287881e+09  334895.629437
6  1.936876e+09  422441.749973
7  3.037054e+09  319947.055426

,the_geom,PRECINCT,SHAPE_AREA,SHAPE_LEN
0,MULTIPOLYGON (((-86.77524596288148 36.14894455...,CENTRAL,9.854197e+07,46234.671731
1,MULTIPOLYGON (((-86.7497744006488 36.240574158...,EAST,5.622602e+08,90261.133897
2,MULTIPOLYGON (((-86.61306027277456 36.24427176...,HERMITAGE,2.496337e+09,521944.947628
3,MULTIPOLYGON (((-86.7495460621699 36.240468002...,MADISON,1.913403e+09,254564.864090
4,MULTIPOLYGON (((-86.77934500767239 36.14854906...,MIDTOWN-HILLS,1.317031e+09,187104.273068

In [8]:
type(water_df)

pandas.core.frame.DataFrame

In [10]:
type(police_df)

pandas.core.frame.DataFrame

In [12]:
water_df.loc[0, 'the_geom']

'POINT (-86.89425345576078 36.26250455840148)'

In [13]:
police_df.loc[0, 'the_geom']

'MULTIPOLYGON (((-86.77524596288148 36.14894455629901, -86.77649210602664 36.14857687665805, -86.7781616274096 36.14865043038547, -86.77838512892765 36.14857286655733, -86.77853379143811 36.14852125124118, -86.77861081108503 36.14856586200554, -86.7790816946907 36.14871825277781, -86.77913112137387 36.14872947083355, -86.7791311513073 36.14872914156234, -86.77911998681444 36.14850955613429, -86.77934500767239 36.14854906263405, -86.78023330815216 36.148672544497074, -86.78103534916679 36.148817484656085, -86.7819350783633 36.14901057418182, -86.78290019974413 36.14926707446858, -86.78403804736715 36.14981240036976, -86.78447965199213 36.15002333651708, -86.78457729772377 36.15008440121774, -86.78517567838756 36.150454222656585, -86.78554657230615 36.15072753371399, -86.7860612634401 36.151192999618175, -86.7860921940855 36.15122095575138, -86.78616548052857 36.151284512869175, -86.78623595571774 36.15137215215066, -86.78653778557329 36.151730245614985, -86.78712021975099 36.15246752893453, -86.787336783087 36.15280356798585, -86.78733695418804 36.15280381410703, -86.78798616895263 36.15380723498362, -86.78803983595145 36.153893746746206, -86.78925808808836 36.15576630086189, -86.78929823187474 36.15581773897117, -86.78934046011568 36.15588454652148, -86.78982347760764 36.156541729836434, -86.79107414650066 36.158130553925496, -86.79110486335757 36.158170596737676, -86.79113244052711 36.15820137556236, -86.7923160190004 36.15956286578328, -86.79279392705574 36.16023287238424, -86.79297690334626 36.1605866204469, -86.79306350225843 36.16082839877938, -86.79311075539901 36.16093302669564, -86.79314054917828 36.16099906241179, -86.7932322887565 36.161280557628714, -86.79335558816335 36.161658925930325, -86.79350646958571 36.16247823919132, -86.7936958980348 36.16355404107955, -86.7938403159815 36.16400767765951, -86.79418043401259 36.16493367687401, -86.794280520211 36.16514113678277, -86.79470742359537 36.16585520424035, -86.79522704960577 36.16662895638384, -86.79568941090292 36.16727243339286, -86.79578447673089 36.16740418877137, -86.79571831774236 36.16743201272618, -86.7954409531001 36.16756089379619, -86.7944632300387 36.1680077719326, -86.7944500380672 36.16801318808977, -86.79342284784774 36.16843379158278, -86.79244506978878 36.168877219640486, -86.7904352171295 36.16973490364851, -86.7903064640205 36.16981906545699, -86.78943186752205 36.1702097360629, -86.79017195642474 36.17136352513155, -86.7914061297151 36.17327179593669, -86.79009624131707 36.173576154094235, -86.78870286783213 36.17388835124686, -86.78762290734636 36.17422241340259, -86.78742067549626 36.174284964965445, -86.78608282169469 36.17467668110675, -86.78468038585146 36.17501820115604, -86.78529910041232 36.17602970638779, -86.78553931600928 36.176333266933305, -86.78649096730362 36.177794003477615, -86.78741928360904 36.17930021152237, -86.78742145078631 36.179303411451556, -86.7883183762864 36.18063079022875, -86.78845396439549 36.18083684046516, -86.78855407515645 36.18099164346587, -86.78867819873496 36.18118385845578, -86.7887700279381 36.18132606056795, -86.78925881860239 36.18209204353821, -86.78929550063566 36.18214833826217, -86.78967866353405 36.18273919799601, -86.78974981479317 36.18285410974594, -86.79003137206948 36.183279435681996, -86.79021103544927 36.18357197509853, -86.79077027860673 36.18443407716631, -86.7909934133488 36.18477646561853, -86.79111377970001 36.18495332878669, -86.79118150049199 36.18503298929216, -86.791241804217 36.18507907491538, -86.79149378373913 36.18528597945279, -86.79178167915813 36.18552627250773, -86.79250606916405 36.18612543323383, -86.79294345839246 36.186488827354296, -86.79366447714027 36.187087975758764, -86.79425271186007 36.18759346656684, -86.7943837226583 36.187732237648994, -86.79445023528321 36.18776520422957, -86.7934789641684 36.188469097607516, -86.79251988193079 36.18908887039404, -86.79180227053439 36.189534893822916, -86.79062733310315 36.19019990971705, -86.78913957088639 36.190860668269956, -86.78783484643526 36.19128861026995, -86.78681370285145 36.191501847881675, -86.78610053861863 36.19162230925187, -86.78465375148772 36.191728123349804, -86.78439276610627 36.19174720806972, -86.78422139705332 36.19175974046875, -86.78299712816623 36.1918402767439, -86.78242702017224 36.191877775206784, -86.78164226662791 36.1919049995471, -86.78058276722588 36.191925122991805, -86.78048012446449 36.19187438918923, -86.77962279387151 36.19178232491522, -86.77929384320463 36.191704701650195, -86.77886013973287 36.19157163099844, -86.77847613435435 36.19140565830243, -86.77816402750688 36.19122757349486, -86.77781560141048 36.191015741389094, -86.77746798875137 36.19074508747361, -86.77626062231874 36.19069357494325, -86.77568615513576 36.188231538638945, -86.77568746497752 36.18818881408554, -86.77569379648595 36.187983760088585, -86.77566572573144 36.18765093721293, -86.77560333482012 36.18691120390873, -86.7754640887004 36.185392426582155, -86.77529306602494 36.18425558380082, -86.77490816297623 36.18214059516815, -86.77469546899214 36.18143668011737, -86.77425824426423 36.18027648962009, -86.77415947599415 36.179999257268484, -86.7739865494444 36.17961239867229, -86.77358138877382 36.17865210942489, -86.77354059207573 36.17855541387598, -86.77316850187549 36.177751149727904, -86.7729065510322 36.177306292203575, -86.77256963954969 36.1767521412135, -86.77236515158377 36.17644547652965, -86.77195066070877 36.175843142129615, -86.7716083447528 36.17535558424353, -86.77099925160954 36.17457950227741, -86.77087266413845 36.17445361615084, -86.77075052443764 36.174332124263614, -86.77021340305346 36.17370158514068, -86.76934075807668 36.17277042906878, -86.76898315555246 36.17241199005495, -86.76872881112942 36.17215706227072, -86.76828718556831 36.17171435433536, -86.76815474445645 36.171546280170475, -86.7675381311983 36.17079190312744, -86.76733513459712 36.17050972342894, -86.76666490175023 36.169548058771746, -86.76596976471379 36.16841603779148, -86.76531323235558 36.16733978111164, -86.76490297706205 36.16669874355597, -86.76484316057535 36.166605254705416, -86.76467004938621 36.16632507917613, -86.76439331105449 36.1658872192217, -86.76402402773118 36.1653374788636, -86.76332428975503 36.16454704111982, -86.76169162875429 36.16307020246326, -86.7614229222208 36.162781641915835, -86.76106098676857 36.16236925498086, -86.76096299024888 36.16218656025974, -86.76072910949155 36.161890307656435, -86.76051996455561 36.161410585467195, -86.7604457006165 36.161024567859094, -86.7604407897065 36.160993093318424, -86.76030295530383 36.160109868525396, -86.76020307716382 36.15900175091795, -86.76016731875366 36.157737113380435, -86.75980575975773 36.15734680642251, -86.75983898334458 36.15689665384537, -86.75985307559893 36.15670556098153, -86.75996674905453 36.156333165894765, -86.76007106923706 36.15609480445158, -86.76024873434291 36.155836036521784, -86.76042359154594 36.155620195900205, -86.7607149535154 36.15532793870141, -86.76111435346354 36.15500903953971, -86.76153970456907 36.154715660415576, -86.76204502310735 36.154513472812845, -86.76221127906072 36.15444693193478, -86.76236211541455 36.15438658732174, -86.7643973944736 36.15339281324483, -86.7650390124771 36.153082750762685, -86.7658178152002 36.15270635024541, -86.76850480896252 36.151561289488875, -86.76938060530955 36.15118281996805, -86.77050691718631 36.15070387719338, -86.77310086656537 36.14961784705502, -86.77319090183482 36.149580129618286, -86.77473394837413 36.14910031989578, -86.77502902160391 36.14900856507451, -86.77524596288148 36.14894455629901)))'